// @import "picture-container"; 

.App {
  position: relative;
  padding:2em;
  background:#fff;
  height:100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.carousel-container{
  position: relative;
  text-align: center;
  width: 650px;
  height: 360px;
  overflow: hidden;
  
  .carousel-item{
    position: absolute;
    overflow: hidden;
    width: 640px;
    height: 360px;
    border:5px solid #eee;
  }

  .img-container{
    position: absolute;
    width:640px;
    height: 360px;
    overflow: hidden;
    img{
      width:640px;
      object-fit: cover;
    }
  }

  .img-description{
    position: absolute;
    text-align: center;
    bottom: 40px;
    width: 100%;
    color:#fff;
    p{
      text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.8);
      margin:0;
      padding:0;
    }
  }

  .carousel-buttons{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 160px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    .button{
      padding:15px;
      color:#fff;
      background: crimson;
      display: inline-block;
      position: absolute;
      opacity: 0.8;
      cursor: pointer;
      &:hover{
        transition: all .2s ease-in-out;
        opacity: 1;
      }
    }

    .left{
      left:0;
    }

    .right{
      right:0;
    }
  }
}

.loading-panel{
  position: relative;
  background: rgba(255, 255, 255, 1);
  width: 100vw;
  height: 100vh;
  border: 1px solid #d0d0d0;
  .loader{
    position: relative;
    top:160px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid crimson;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
}

.thumbnails{
  position: absolute;
  z-index: 9;
  .thumb-item{
    display: inline-block;
    margin:5px;
    cursor: pointer;
    .thumb-img{
      transition: all .2s ease-in-out;
      border-bottom: 2px solid crimson;
      &:hover{
        border-color: salmon;
      }
      img{
        object-fit: cover;
        width:50px;
        height:40px;
      }
    }
  }
}

.active-img .thumb-img{
  border-color: salmon !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// misc
.show{
  opacity: 1;
}

.hide{
  opacity: 0;
}

.active{
  opacity: 1;
}

.fade{
  animation: fade 0.5s ease-in-out;
}

@keyframes fade{
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}